<!DOCTYPE html>
<html>
<head>
<title>留言</title>

<link  href="/public/main.css" rel="stylesheet" type="text/css" />

</head>
<body>
	<h1>发表你的留言</h1>
	<div class="login-01">
			<form  action="/pinglun" method="GET">
				<ul>
				<li class="first">
          <a href="#" class=" icon user"></a>
          <input type="text" class="text" placeholder="名字" name="name" >
					<div class="clear"></div>
				</li>
			
				<li class="second">
        <a href="#" class=" icon msg"></a>
        <textarea placeholder="内容" name="msg"></textarea>
				<div class="clear"></div>
				</li>
			</ul>
			<input type="submit"  value="Submit" >
			<div class="clear"></div>
		</form>
</div>
	
   		<div class="copy-right">
   			<div class="wrap">
				<p>Seven<a target="_blank" href="http://www.imseven.top">  Click</a></p>
		</div>
	</div>

</body>
</html>